@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="hero-section">
    <h1>@ViewData["Title"]</h1>
    <div class="hero-content">
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
    <div class="hero-content"> 
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a malesuada risus. Morbi ornare nunc sem, non vulputate mauris venenatis vel. Sed vestibulum augue ac tellus porttitor, vitae maximus nibh condimentum. Duis aliquet lacinia massa vitae fringilla. In est turpis, bibendum non nisi eu, eleifend tincidunt mi. Nulla sit amet nulla nulla. Phasellus a scelerisque velit. Aliquam ex mi, feugiat a ornare ut, fermentum et sapien. Ut rutrum nisl maximus, semper urna ac, ullamcorper ante. Vestibulum at felis maximus, lobortis sem id, fringilla dui. Nunc viverra, orci id feugiat commodo, odio nisi suscipit mauris, efficitur accumsan neque libero molestie tellus. Nullam et urna ipsum. Sed sit amet leo diam. Donec molestie, lacus ac blandit egestas, risus purus vestibulum diam, at convallis lorem sapien eget diam. Nam semper nec mauris in consectetur.

        Mauris ut tempor urna. Ut eu leo augue. Quisque ac tellus dui. Morbi porttitor, ante sed tincidunt feugiat, ante risus tincidunt libero, blandit fringilla dui nunc non turpis. Praesent vitae arcu non nulla ultricies feugiat. Sed purus lacus, tempor eget ligula ut, aliquam blandit libero. Ut consectetur pellentesque tortor vitae scelerisque. Pellentesque blandit fermentum mauris, vel semper odio efficitur eu. Sed imperdiet libero ultricies ex gravida feugiat. Ut vitae metus molestie, mollis purus eget, laoreet est.

        Phasellus lobortis eget diam vitae lacinia. In volutpat nisi et massa ultricies porttitor. Phasellus at odio felis. Sed ac odio enim. Nunc vehicula est et quam mollis tincidunt. Etiam elementum erat quis aliquam vestibulum. Etiam id velit nisl. Aenean ut pretium nisi. Donec gravida, libero eget pretium eleifend, nisl arcu efficitur magna, vel tempor justo urna eu sapien. Aliquam erat volutpat. Nulla imperdiet, augue vitae commodo dapibus, arcu neque luctus lectus, id fringilla ante arcu et mauris. Nunc ullamcorper sagittis faucibus. Proin ultrices enim a turpis vestibulum vestibulum at a felis. Proin fringilla dolor non accumsan dignissim.
    </div>
</section>
